@import url(reset_ders.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
body{
    background-color: #EEEEEE;
}
.resim{
    display: flex;
    margin-left: 34%;
    margin-top: 10px;
    flex-direction: row;
    position: absolute;
    gap: 495px;
}
.meb,.dcfl{
    background-color: #FFFFFF;
    position: relative;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    transition: all 0.5s;
}
.meb:hover,.dcfl:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}
.header{
    z-index: 2;
    margin: auto;
    background: rgb(79,108,150);
    background: linear-gradient(90deg, rgba(79,108,150,0.96) 0%, rgba(91,125,177,0.9556197478991597) 47%, rgba(103,131,175,0.96) 100%);
    position: absolute;
    height: 15%;
    width: 100%;
    display: block;
}
.header .bk h4,h5{
    text-align: center;
    font-size: 19px;
    margin-top: 10px;
    color: #EEEEEE;
    font-family: 'Open Sans',sans-serif;
}
.header .bk h4{
    font-size: 20px;
}
.header .islem{
    display: flex;
    gap: 50px;
    margin-top: 1%;
    margin-left: 30%;
}

.header .islem button:hover{
    background-color: rgb(79,108,150);
    transform: scale(1.05);
    transition: all 0.5s;
    border-radius: 5px 5px 0 0;
}

.header .islem button{
    width: 120px;
    height: 50px;
    background-color: rgb(79,108,150);
    border: none;
    cursor: pointer;
    color: #f5f5f5;
    font-size: 15px;
    transition: all 0.5s;
    border-radius: 10px;
    font-size: 19px;
}
.header .islem button .daha{
    width: 40px;
    height: 40px;
    vertical-align: middle;
}
abbr{
    text-decoration: none;
}
.header .islem button ul{
    position: absolute;
    background-color: rgb(79,108,150);
    width: 150px;
    border-radius: 0  2px 2px 2px;
    visibility: hidden;
    transition: all 0.5s;
    margin-left: -6px;
}
.header .islem button ul li{
    margin-bottom: 2px;
    margin-top: 3px;
    padding: 2px;
    font-size: 15px;
}
.header .islem button ul li:hover{
    background-color: rgb(64, 86, 117);
    font-size: 17px;
    transition: all 0.5s;
}
.header .islem button:hover ul{
    visibility: visible;
    transition: all 0.5s;
}
a{
    text-decoration: none;
    color: white;
}
.header .islem button .daha{
    width: 25px;
}
.header .islem button:hover {
    background-color: rgb(64, 86, 117);
    border-radius: 5px 5px 5px 5px;
}
.area{
    padding-top: 10%;
    font-family: 'Open Sans',sans-serif;
}

.img-wrapper{
    margin: auto;
    max-width: 800px;
    position: relative;
    cursor: pointer;
}
.img-wrapper img{
    width: 100%;
    display: block;
}
.img-wrapper .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.75);
    display: grid;
    place-items: center;
    opacity: 0;
    transition:  0.5s;
}
.overlay h2{
    color: #fff;
    text-transform: capitalize;
}
.img-wrapper::before{
    content: "";
    position: absolute;
    top: 0;left: 0;
    width: 8px;
    background-color: rgb(79,108,150);
    z-index: 1;
    transition: .5s all;
}
.img-wrapper:hover::before{
    height: 100%;
}
.img-wrapper:hover .overlay{
    opacity: 0.9;
}
.area .bolum{
    display: flex;
    padding-top: 200px;
    justify-content: space-around;
    margin-bottom: 50px;
}
.duyurular{
    padding: 5px 0 5px 0;
    user-select: none;
    width: 500px;
    height: 350px;
    background-color: #333333;
    color: white;
}
.duyurular ul li{
        margin-bottom: 10px;
        cursor: pointer;
}
.duyurular ul li:hover{background-color: #444444;}
.duyurular ul{
    font-size: 20px;
}
.baslik{
    font-size: 20px;
}
.Haberler{
    padding: 5px 0 5px 0;
    user-select: none;
    width: 500px;
    height: 350px;
    background-color: #333333;
    color: white;
}
.Haberler ul li{
    margin-bottom: 10px;
    cursor: pointer;
}
.Haberler ul li:hover{background-color: #444444;}
.Haberler ul{
    font-size: 20px;}
    
.İşlemler{
    padding: 5px 0 5px 0;
    user-select: none;
    width: 500px;
    height: 350px;
    background-color: #333333;
    color: white;
}
.İşlemler ul li{
    margin-bottom: 10px;
    cursor: pointer;
}
.İşlemler ul li:hover{background-color: #444444;}
.İşlemler ul{
    font-size: 20px;}
hr{
    height: 2px;
    border: none;
    background-color: white;
}
ul li img{
    width: 18px;height: 18px;
}
ul li img:nth-last-child(1){
    width: 20px;
    height: 20px;
}
.duyurular ul li:nth-last-child(1) {
    margin-top: 210px;
}
.Haberler ul li:nth-last-child(1){
    margin-top: 170px;
}
.alt{

    width: 100%;
    height: 50px;
    background-color: #333333;
    text-align: center;
    color: whitesmoke;
    margin: auto;
    font-size: 20px;
    padding-top: 5px;
}